<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>

<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><a href="index.html">Blog</a></li>
      <li class-"active"><a href="about.html">About</a></li>
    </ul>

    <div class="jumbotron">
      <h1>Q&A With Loretta</h1>
    </div>

    <img src="careerbuilder-email-header3-110614.jpg" class="img-responsive" alt="Responsive image"/>

    <h2>I have been with CB for over 12 years and it has been nothing short of a great experience. Below are some questions and answers about me and my experiences at CB.
    </h2>

    <p class="lead">
      Q: What is your favorite part of being a manager?
    </p>

    <p>
      A: My favorite part of being a manager is helping those that report to me develop their potential. As a manager you may find yourself coaching, mentoring or just providing guidance where needed. Whatever the case may be, helping someone grow and develop beyond the role they are in is a rewarding experience even at the risk of losing them to greener pastures.</p>

    <p class="lead">
      Q: What has been your favorite project you have worked on within CareerBuilder?
    </p>

    <p>
      A: During my 12 years at CareerBuilder I have had the opportunity to work on a number of projects both technical and non-technical. In my current role I would say my favorite project is a grouping of projects falling under organization development for Technology. All of my efforts are centered on helping the department solve problems and reach their goals. Whether it’s finding better tools or improving upon internal training programs, it has been very rewarding.</p>

    <p class="lead">
      Q: What is your favorite weekend activity?
    </p>

    <p>
      I have several but do not get to spend as much time as I like.
      <ul> 
        <li>Reading - So many books and not enough time.</li>
        <li>Rollerskating with my daughter when we have time - She is an inspiration.</li>
        <li>Spending time with my husband - My best friend for most of my adult life.</li>
        <li>Gardening outdoors. To plant a tree or a plant and see it grow is amazing.</li>
        <li>Photography - there is nothing like capturing a moment in time.</li>
      </ul>
      </p>

    <p class="lead">
      Q: Where would you like to go on for a dream vacation?
    </p>

    <p>
      A: It may not be dreamy but I would love to visit the state capital of every state in the United States. I heard someone say that even on it's worst day, the US is a great place to live with all the opportunities we have. I would agree.</p>

  </div>
</body>


<!--
<h1>Loretta's Page</h1>
<p>A simple page put together using HTML!</p>

Original code 
<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
..>