<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>

<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="index.html">Blog</a></li>
      <li><a href="about.html">About</a></li>
    </ul>

    <div class="jumbotron">
      <h1>Loretta's Blog</h1>
    </div>

    <img src="http://www.careerbuildercareers.com/assets/employee-pics/Loretta%20Edmond%20Picture.jpg" class="img-responsive" alt="Responsive image"/>

    <h2>Are You a Multitasker? If So You May Not Be as Effective as You Think You Are.</h2>

    <p>January 18, 2015</p>

    <p class="lead">"Human multitasking is the apparent performance by an individual of handling more than one task at the same time. The term is derived from computer multitasking. An example of multitasking is taking phone calls while typing an email. Multitasking can result in time wasted due to human context switching and apparently causing more errors due to insufficient attention."</p>

    <p>If there is one thing that I can attest to regarding multitasking is the time wasted in getting my environment set up for this class. It took me three tries to get my environment set up correctly. Why? Because I thought I could do other things while setting up the environment versus focus on the task at hand. It was't until the third attempt did I realize the steps I missed or even injected into the process.</p>

    <img src="http://businessbent.com/wp-content/uploads/2013/12/Multi-tasking800x300.jpg" class="img-responsive" alt="Responsive image">
    <p>Image source: http://businessbent.com/wp-content/uploads/2013/12/Multi-tasking800x300.jpg</p>

    <p>According to research conducted at Stanford University, multitasking is less productive than doing one thing at a time. This is not earth shattering news but yet I failed to adhere to this.</p>

    <p>But me being me and putting a positive spin to just about any mishap, I managed to find a bright star in all of this. I had to remove and re-set up my environment which introduced me to other areas I would have not otherwise been introduced to. While cautious, I am not afraid to mess up. You can recover.</p>

    <p>In sum I am glad I got this far but learned that if I am going to get the full value out of this class, I need to focus and totally abandon multitasking.</p>

    Source:
    <p>
    <a href="http://en.wikipedia.org/wiki/Human_multitasking">Human Multitasking</a>
    </p>
    <p>
    <a href="http://www.forbes.com/sites/travisbradberry/2014/10/08/multitasking-damages-your-brain-and-career-new-studies-suggest/">Multitasking Damages Your Brain And Career</a>
    </p>

  </div>
</body>

<!--
<style>
  h1 {
    font-size:50px;
    text-align: center;
    }
  li {
    color: green;
    }
  .fav {
    color: red;
    }
</style>

<h1>Loretta's Favorite Resturants</h1>

<ul>
  <li>Thai Star</li>
  <li class="fav">Yum Yum Thai</li>
  <li>China King</li>
  <li>Chik Fil A</li>
  <li>Ippolitos</li>
</ul>

<a href="http://www.thaistarga.com"><img src="http://pics3.city-data.com/businesses/p/9/9/1/0/8959910.JPG" /></a>
-->

<!--
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
